In [1]:
import yfinance as yf
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import talib
import datetime
from scipy.interpolate import griddata
from matplotlib import cm

In [ ]:
stk = yf.download('SPY, AAPL')
adj = stk['Close']
adj

[*********************100%***********************]  2 of 2 completed

Ticker            AAPL         SPY
Date
1980-12-12    0.098834         NaN
1980-12-15    0.093678         NaN
1980-12-16    0.086802         NaN
1980-12-17    0.088951         NaN
1980-12-18    0.091530         NaN
...                ...         ...
2024-12-16  251.039993  604.754578
2024-12-17  253.479996  602.262939
2024-12-18  248.050003  584.313416
2024-12-19  249.789993  584.133972
2024-12-20  254.490005  591.150024

[11099 rows x 2 columns]